@import 'nib'
// @import 'jeet'

*
	box-sizing: border-box

@keyframes show
	0%
		max-height: 0

	100%
		max-height: 3rem

html, body
	font-size: 16px
	margin: 0
	padding: 0
	height: 100vh
	
.container
	max-width: unit(400/16, 'rem')
	margin: 0 auto
	text-align: center
	
input
	width: 100%
	padding: 1rem
	font-size: 1rem
	text-align: center
	
.vertical-align
	display: table
	width: 100%
	height: 100%
	table-layout: fixed

	> .top
		display: table-cell
		vertical-align: top

	> .middle
		display: table-cell
		vertical-align: middle

	> .bottom
		display: table-cell
		vertical-align: bottom


body
	-webkit-font-smoothing: antialiased
	font-family: 'Helvetica Neue', Helvetica, sans-serif

	ul
		list-style: none
		padding: 0

		li
			line-height: 3rem
			overflow: hidden
			position: relative
			animation: show 0.2s 1
			
			& + li
				border-top: 1px solid #c2c2c2	
						 
			&.completed
				text-decoration: line-through
				
			button
				position: absolute
				border-radius: 50%
				height: 2rem
				width: @height
				text-indent: -9999px
				border: 0
				outline: 0
				top: calc(50% - 1rem)
				
				&.remove
					right: 0
					background: red
				
				&.state
					background: green
					left: 0
				
